/* ===================================================
Extension mixins (миксины с расширением классов) START 
====================================================== */

/* ===== Миксин шрифта START ===== */
@mixin _font-ext ($font-name: null, $font-size: null, $line-height: null, $font-weight: null, $letter-spacing: null, $font-color: null) {

    @if $font-name != 'fn'{font-family: $font-name;}

    @if $font-size != 'fs'{font-size: $font-size * 1px;}

    @if $line-height != 'lh'{line-height: $line-height * 1px;}

    @if $font-weight != 'fw' {font-weight: $font-weight;}
    
    @if $letter-spacing != 'ls'{letter-spacing: $letter-spacing * 1em;}

    @if $font-color != 'fc'{color: $font-color;}
}

/* Подключение

@include _font-ext(fn, fs, lh, fw, ls, fc);

! Без единиц измерения

fn - font-family (font-name) - название шрифта
fs - font-size               - размер шрифта
lh - line-height             - межстрочный отступ
fw - font-weight             - начертание шрифта
ls - letter-spacing          - межбуквенный отступ
fc - color                   - цвет текста */
/* ===== Миксин шрифта END ===== */

/* ===== Миксин интерактивных состояний взаимодействия START ===== */
@mixin _link-interaction-ext() {
    &:hover {
        color: #C9112A;
    }

    &:active {
        color: #FAA700;
    }

    &:visited {
        color: #000000;
    }

    &:focus-visible {
        color: #000000;
    }
}

/* Подключение

@include _link-interaction-ext();

Не принимает значений.

Имеет стили 3 состояний - :hover, :active, :visited
Значения всех состояний зашиты в миксин и имеют постоянные значения
/* ===== Миксин интерактивных состояний взаимодействия END ===== */


/* =================================================
Extension mixins (миксины с расширением классов) END 
==================================================== */