/* ===== Переменные шрифтов START ===== */
$root-ui_vf: root-ui_vf, system-ui, sans-serif;
/* ===== Переменные шрифтов END ===== */

/* ===== Переменные цветов START ===== */
/* Генерация работает с помощью https://color-name-generator.com/ */

$black:              #000000;
$dreamless-sleep:    #111111;
$black-out:          #222222;
$white:              #FFFFFF;
$unicorn-silver:     #E8E8E8;
$unique-grey:        #C9C9C9;
$cerebral-grey:      #CCCCCC;
$squant:             #666666;
$goshawk-grey:       #444444;
$shadow-mountain:    #595959;
$alarm:              #EC0002;
$sensitive-scorpion: #CA2166;
$blue-copper-ore:    #4922D8;
$majorelle-blue:     #6A49E2;
$london-rain:        #0650C2;
$mandarin-jelly:     #FF8700;
$red-dit:            #FF4800;
$yellow-tang:        #FFD300;
$big-yellow-streak:  #FFE71E;
/* ===== Переменные цветов END ===== */