/* ======= Подключение основных модулей паттернов START ======= */
@import 'abstracts/_abstracts-module';
@import 'base/_base-module';
@import 'components/_components-module.scss';
@import 'layout/_layout-module.scss';
@import 'pages/_pages-module.scss';
@import 'themes/_themes-module';
@import 'vendors/_vendors-module.scss';
/* ======= Подключение основных модулей паттернов END ======= */

body {
    font-family: $root-ui_vf;
}

.search-tab {
    display: flex;
    flex-wrap: wrap;
    padding: 24px 65px 90px 65px;
}

.prodcut-card {
    width: 16.666666%;
    padding: 0 20px 24px;
    margin-bottom: 24px;
    box-sizing: border-box;
}

.product-card__top {
    position: relative;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.product-card__img {
    position: relative;
    width: fit-content;
    max-width: 246px;
    display: flex;
    margin-bottom: 12px;

    img {
        width: auto;
        max-width: 100%;
    }
}

.product-card__discount {
    position: absolute;
    right: -8px;
    bottom: 20px;
    width: 60px;
    height: 29px;
    box-sizing: border-box;
    background: linear-gradient(180deg, rgba(73, 34, 216, 0) 0%, #4922D8 100%), #6A49E2;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 3px 0px 0px 3px;
    text-align: center;
    cursor: pointer;
    transition: .3s; 

    @include _font-ext(fn, 17, 29, 700, .02, #FFFFFF);

    &:hover {
        background: #111111;
    }
}

.product-card__price-container {
    display: flex;
    align-items: center;
}

.product-card__current-price {
    margin-right: 5px;

    @include _font-ext(fn, 24, 28, 700, .02, #111111);
}

.product-card__old-price-val {
    position: relative;
    margin-right: 5px;
    cursor: pointer;

    @include _font-ext(fn, 20, 27, 400, ls, #595959);

    &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 11.5px;
        width: 100%;
        height: 1px;
        background-color: #EC0002;
        transform: matrix(0.93, -0.32, 0.37, .94, 0, 0);
        opacity: 0.75;
    }
}

.product-card__sale-time {
    @include _font-ext(fn, 15, 17, 560, .01, #6A49E2);
}

.product-card__out-of-stock {
    @include _font-ext(fn, 24, 28, 700, .02, #595959);
}

.product-card__subinfo {
    align-items: center;
    text-transform: uppercase;

    @include _font-ext(fn, 11, 16, 560, .094, #CA2166);
}

.product-card__name {
    display: block;
    margin: 8px 0;
    transition: .3s; 

    @include _font-ext(fn, 17, 20, 560, .005, #000000);
    @include _link-interaction-ext();
}

.product-card__author {
    display: block;
    margin: 8px 0;
    cursor: pointer;
    transition: .3s;

    @include _font-ext(fn, 15, 20, 440, .005, #000000);
    @include _link-interaction-ext();
}

.product-card__info {
    margin: 8px 0;
}

.product-card__info-item {
    transition: .3s;

    @include _font-ext(fn, 15, 20, 440, .005, #595959);
    @include _link-interaction-ext();
}

.product-card__rating-container {
    display: flex;
    margin-bottom: 8px;
}

.product-card__rating-content {
    display: flex;
}

.product-card__rating-value {
    margin-right: 4px;

    @include _font-ext(fn, 15, 20, 560, .005, #111111);
}

.product-card__rating-img {
    margin-right: 8px;
}

.product-card__rating-reviews {
    @include _font-ext(fn, 15, 20, 440, .005, fc);
}

.product-card__controls-contaier {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 8px;
}

.product-card__about-container {
    margin-top: 10px;
}

.label-lpost {
    display: flex;
    align-items: center;
}

.label-lpost__img {
    margin-right: 7.5px;
}

.label-lpost__title {
    @include _font-ext(fn, 17, 22, 560, .024, #666666);
}

.label-purchase {
    display: inline-block;
    padding: 0 4px;
    background: #E8E8E8;
    
    @include _font-ext(fn, 17, 22, 560, .024, #666666);
}

@media (max-width: 1600px) {
    .search-tab {
        padding: 24px 45px 90px 45px;
    }
}

@media (max-width: 1536px) {
    .prodcut-card {
        width: 20%;
    }
}

@media (max-width: 1440px) {
    .search-tab {
        padding: 24px 53px 90px 53px;
    }
}

@media (max-width: 1280px) {
    .search-tab {
        padding: 24px 45px 90px 45px;
    }

    .prodcut-card {
        width: 25%;
    }
}

@media (max-width: 1024px) {
    .search-tab {
        padding: 24px 20px 90px 20px;
    }

    .prodcut-card {
        width: 33.333333%;
    }
}