/* ===== Подключение основных модулей паттернов START ===== */
@import 'base/_base-module';
@import 'abstracts/_abstracts-module';
@import 'components/_components-module.scss';
@import 'layout/_layout-module.scss';
@import 'pages/_pages-module.scss';
@import 'themes/_themes-module';
@import 'vendors/_vendors-module.scss';
/* ===== Подключение основных модулей паттернов END ===== */

body {
    margin: 0 auto;
    font-size: 62.5%;
    height: 100%;
    font-family: $root-ui_vf;

    // Тестовый инклюд миксина шрифтов
    //@include _font-ext(fn, 17, 29, $font-medium, .02, white);
}

.search-tab {
    display: flex;
    flex-wrap: wrap;
    padding: 24px 65px 90px 65px;
    margin-top: 50px;
}

.prodcut-card {
    width: 16.666666%;
    padding: 0 20px 24px;
    margin-bottom: 24px;
    box-sizing: border-box;
}

.product-card__img {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: fit-content;
    height: 330px;
    max-width: 246px;
    margin-bottom: 12px;

    img {
        vertical-align: bottom;
    }
}

.product-card__discount {
    position: absolute;
    right: -8px;
    bottom: 20px;
    width: 60px;
    height: 29px;
    box-sizing: border-box;
    background: linear-gradient(180deg, rgba(73, 34, 216, 0) 0%, #4922D8 100%), $majorelle-blue;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 3px 0px 0px 3px;
    text-align: center;
    cursor: pointer;
    transition: .3s; 

    @include _font-ext(fn, 17, 29, 700, .02, white);

    &:hover {
        background: $dreamless-sleep;
    }
}

.product-card__price-container {
    display: flex;
    align-items: center;
}

.product-card__current-price {
    margin-right: 5px;

    @include _font-ext(fn, 24, 28, 700, .02, $dreamless-sleep);
}

.product-card__old-price-val {
    position: relative;
    margin-right: 5px;
    cursor: pointer;

    @include _font-ext(fn, 20, 27, 400, ls, $shadow-mountain);

    &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 11.5px;
        width: 100%;
        height: 1px;
        background-color: $alarm;
        transform: matrix(0.93, -0.32, 0.37, .94, 0, 0);
        opacity: 0.75;
    }
}

.product-card__sale-time {
    @include _font-ext(fn, 15, 17, 560, .01, $majorelle-blue);
}

.product-card__out-of-stock {
    @include _font-ext(fn, 24, 28, 700, .02, $shadow-mountain);
}

.product-card__subinfo {
    align-items: center;
    text-transform: uppercase;

    @include _font-ext(fn, 11, 16, 560, .094, $sensitive-scorpion);
}

.product-card__name {
    display: block;
    margin: 8px 0;
    transition: .3s; 

    @include _font-ext(fn, 17, 20, 560, .005, $black);
    @include _link-interaction-ext();
}

.product-card__author {
    display: block;
    margin: 8px 0;
    cursor: pointer;
    transition: .3s;

    @include _font-ext(fn, 15, 20, 440, .005, $black);
    @include _link-interaction-ext();
}

.product-card__info {
    margin: 8px 0;
}

.product-card__info-item {
    transition: .3s;

    @include _font-ext(fn, 15, 20, 440, .005, $shadow-mountain);
    @include _link-interaction-ext();
}

.product-card__rating-container {
    display: flex;
    margin-bottom: 8px;
}

.product-card__rating-content {
    display: flex;
    align-items: center;
}

.product-card__rating-value {
    margin-right: 4px;

    @include _font-ext(fn, 15, 20, 560, .005, $dreamless-sleep);
}

.product-card__rating-img {
    width: 17px;
    height: 17px;
    margin-right: 8px;
    background: get-icon('star-rating-black', #000000);
}

.product-card__rating-reviews {
    @include _font-ext(fn, 15, 20, 440, .005, fc);
}

.product-card__controls-contaier {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 8px;
}

.product-card__about-container {
    margin-top: 10px;
}

.search {
    position: relative;
}

.search:before {
    content: '1920px - 1536px';
    position: fixed;
    font-size: 28px;
    background-color: #21232C;
    color: #fff;
    opacity: .8;
    padding: 5px 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transition: .5s;
}

._container {
    outline: 3px solid red;
    width: 1440px;
    margin: 0 auto;
}

.search__result {
    outline: 2px solid green;
    display: flex;
    flex-wrap: wrap;
}

.mini-card {
    outline: 2px solid blue;
    width: 18.889%;
    margin-right: 20px;
    font-size: 36px;
    text-align: center;
    line-height: 534px;
    margin-bottom: 55px;
}

.mini-card:nth-child(5n) {
    margin-right: 0;
}

@media (max-width: 320px)  {
    ._container {
        width: 1440px;
    }

    .search:before {
        content: '480px - 320px';
        background-color: #1EA966;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px)  {
    ._container {
        width: 1440px;
    }

    .search:before {
        content: '480px - 320px';
        background-color: #1EA966;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px)  {
    ._container {
        width: 90%;
    }

    .search:before {
        content: '768px - 480px';
        background-color: #2C9DCE;
    }

    .mini-card {
        width: 31.71%;
        margin-right: 15px;
    }

    .mini-card:nth-child(3n) {
        margin-right: 0;
    }

    .mini-card:nth-child(4n) {
        margin-right: 15px;
    }

    .mini-card:nth-child(5n) {
        margin-right: 15px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px)  {
    ._container {
        width: 680px;
    }

    .search:before {
        content: '1024px - 768px';
        background-color: #AE8F13;
    }

    .mini-card {
        margin-right: 15px;
        width: 31.8635%
    }

    .mini-card:nth-child(3n) {
        margin-right: 0;
    }

    .mini-card:nth-child(4n) {
        margin-right: 15px;
    }

    .mini-card:nth-child(5n) {
        margin-right: 15px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px)  {
    ._container {
        width: 980px;
    }

    .search:before {
        content: '1280px - 1024px';
        background-color: #C6394A;
    }

    .mini-card {
        margin-right: 15px;
        width: 23.853%;
        height: 380px;
        line-height: 380px;
    }

    .mini-card:nth-child(4n) {
        margin-right: 0;
    }

    .mini-card:nth-child(5n) {
        margin-right: 15px;
    }
}


@media only screen and (min-width: 1281px) and (max-width: 1536px)  {
    ._container {
        width: 1200px;
    }

    .mini-card {
        width: 18.667%;
        height: 450px;
        line-height: 450px;
    }

    .search:before {
        content: '1536px - 1280px';
        background-color: #5E00FF;
    }
}
