<div class="prodcut-card">
    <div class="product-card__top">
        <div class="product-card__img">
            <img src="img/img6.jpg">
        </div>
    </div>
    <div class="product-card__bottom">
        <div class="product-card__price-container">
            <div class="product-card__current-price">641 ₽</div> 
            <div class="product-card__old-price-val tooltip">
                <span>1166</span>
                <div class="tooltip__content">
                    <div class="tooltip__item">-408 ₽ по акции,</div>
                    <div class="tooltip__item">-117 ₽ личная</div>
                </div>
            </div>
        </div>
        <div class="product-card__name">
            Мара и Морок. Трилогия. Комплект из 3-х книг
        </div>
        <div class="product-card__author">Арден Лия</div>
        <div class="product-card__info">Эксмо / Охотники за мирами</div>
        <div class="product-card__rating-container">
            <div class="product-card__rating-reviews">
                <span>1</span>
                <span>рецензия</span>
            </div>
        </div>
        <div class="product-card__controls-contaier">
            <button class="_btn btn-tocart">В корзину</button>
            <button class="_btn btn-like"></button>
        </div>
    </div>
</div>