<div class="prodcut-card">
    <div class="product-card__top">
        <div class="product-card__img">
            <img src="img/img8.jpg">
            <div class="product-card__discount tooltip">
                <span>45%</span>
                <div class="tooltip__content">
                    <div class="tooltip__item">-35% по акции,</div>
                    <div class="tooltip__item">-10% личная</div>
                </div>
            </div>
        </div>              
    </div>
    <div class="product-card__bottom">
        <div class="product-card__price-container">
            <div class="product-card__current-price">641 ₽</div> 
            <div class="product-card__old-price-val tooltip">
                <span>1166</span>
                <div class="tooltip__content">
                    <div class="tooltip__item">-408 ₽ по акции,</div>
                    <div class="tooltip__item">-117 ₽ личная</div>
                </div>
            </div>
            <div class="product-card__sale-time">Еще 1 день</div>
        </div>
        <div class="product-card__name">
            Английский язык. 5 класс. Рабочая тетрадь. Английский в фокусе. ФГОС
        </div>
        <div class="product-card__author">Ваулина, Дули, Подоляко</div>
        <div class="product-card__info">Просвещение / Английский в фокусе .Spotlight</div>
        <div class="product-card__rating-container">
            <div class="product-card__rating-reviews">
                <span>14</span>
                <span>Рецензий</span>
            </div>
        </div>
        <div class="product-card__controls-contaier">
            <button class="_btn btn-tocart">В корзину</button>
            <button class="_btn btn-like"></button>
        </div>
    </div>
</div>