/* ===== Стили кнопок для технического класса, обнуление/добавление START ===== */
._btn {
    background: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}
/* ===== Стили кнопок для технического класса, обнуление/добавление END ===== */


/* ===== Кнопка товарной карточки "В корзину" START ===== */
.btn-tocart {
    width: 138px;
    height: 44px;
    text-align: center;
    align-items: center;
    border: 1px solid $unique-grey;
    border-radius: 8px;
    transition: 0.3s;
    
    @include _font-ext(fn, 20, 44, 560, .02, $shadow-mountain);

    &:hover {
        border: 1px solid $white;
        color: $white;
        background: linear-gradient(180deg, rgba(255, 135, 0, 0) 0%, $mandarin-jelly 100%), linear-gradient(0deg, $red-dit, $red-dit), $white;
        border: none;
    }

    /* состояние active - Товар добавлен в корзину */
    &.active {
        background: $london-rain;
        color: $white;
        border: none;
    }
}
/* ===== Кнопка товарной карточки "В корзину" END ===== */


/* ===== Кнопка отложенных (сердечко) START ===== */
.btn-like {
    border: none;
    width: 27px;
    height: 24px;
    background: url("../img/like-default.svg") no-repeat center;

    &.active {
        width: 27px;
        height: 24px;
        background: url("../img/like-active.svg") no-repeat center;
    }
}
/* ===== Кнопка отложенных (сердечко) END ===== */