/* ===== Стили кнопок для технического класса, обнуление/добавление START ===== */
._btn {
    background: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}
/* ===== Стили кнопок для технического класса, обнуление/добавление END ===== */


/* ===== Кнопка мини товарной карточки "В корзину" START ===== */
.btn-tocart {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    border: 1px solid $unique-grey;
    border-radius: 8px;
    
    @include _font-ext(fn, 20, lh, 560, .02, $shadow-mountain);

    /* состояние active - Товар добавлен в корзину */
    &.active {
        background: $london-rain;
        color: $white;
        border: none;
    }
}
/* ===== Кнопка мини товарной карточки "В корзину" END ===== */


/* ===== Кнопка отложенных (сердечко) START ===== */
.btn-like {
    border: none;
    width: 27px;
    height: 24px;
    background: url("../img/like-default.svg") no-repeat center;

    &.active {
        width: 27px;
        height: 24px;
        background: url("../img/like-active.svg") no-repeat center;
    }
}
/* ===== Кнопка отложенных (сердечко) END ===== */