/* ====================== Подключение шрифтов START ========================= */
@font-face {
	font-family: root-ui_vf;
	src: url("../fonts/PT-Root-UI_VF.woff2") format("woff2-variations"), url("../fonts/PT-Root-UI_VF.woff") format("woff-variations");
    font-weight: 400 700;
    font-style: normal;
}
/* ==================== Подключение шрифтов END ======================= */



