@font-face {
	font-family: 'PTRootUIWebVF';
	src: url("../fonts/PT-Root-UI_VF.woff2") format("woff2-variations"), url("../fonts/PT-Root-UI_VF.woff") format("woff-variations");
    font-weight: 400 700;
    font-style: normal;
}

@mixin font_pt-root-vf ($font-size, $letter-spacing: normal, $line-height: normal) {

    font-size: $font-size * 1px;

    @if $line-height == normal {
        line-height: normal;
    } @else {
        line-height: $line-height;
    }

    @if $letter-spacing == null {
        letter-spacing: normal;
    } 
    @else {
        letter-spacing: $letter-spacing * 1em;
    }
}
