@font-face {
	font-family: 'PTRootUIWebVF';
	src: url("../fonts/PT-Root-UI_VF.woff2") format("woff2-variations"), url("../fonts/PT-Root-UI_VF.woff") format("woff-variations");
    font-weight: 400 700;
    font-style: normal;
}

// @include font_pt-root-vf(21,fw,lh,0.02);

@mixin font_pt-root-vf ($font-size: fs, $font-weight: fw, $line-height: lh, $letter-spacing: ls) {

    @if $font-size != 'fs' {
        font-size: $font-size * 1px;
    }

    @if $font-weight != 'fw' {
        font-weight: $font-weight;
    }

    @if $line-height != 'lh'{
        line-height: $line-height * 1px;
    }

    @if $letter-spacing != 'ls'{
        letter-spacing: $letter-spacing * 1em;
    }
}


